<div class="card">
	<div class="card-header">
		{{pageTitle}}
	</div>
	<div clas="card-body">

		<ul class="list-group list-group-flush">
			<li class="list-group-item">Product Name: {{product.productName}}</li>
			<li class="list-group-item">Price: {{product.price}}</li>
			<li class="list-group-item">Description: {{product.description}}</li>
			<li class="list-group-item">Rating:
				<pm-star [rating]='product.starRating'></pm-star>
			</li>
		</ul>
	</div>

	<div class="card-footer">
		<button class="btn btn-secondary" (click)='onBack()'>Go Back</button>
  </div>
</div>